<!DOCTYPE html>
<html>
<head>
	<title>Snake</title>
	<script src="angular.js"></script>
	<script src="script.js"></script>
	<style type="text/css">
		.cell{
			margin: 5px;
			width: 40px;
			height: 40px;
			border: 1px solid black;
			color: #00000063;
		}
	</style>
</head>
<body ng-app="appModule">
	<div ng-controller="MainController as ctrl" style="margin: 20px;">
		<div ng-repeat="item in ctrl.grid" style="clear: both;">
			<div class="cell" ng-repeat="item in item" style="float: left;" 
			ng-style="{'background-color': item.isActive ? 'black' : (item.isPoint ? 'blue' : 'white')}">
				<!-- {{::item.x}}, {{::item.y}} -->
			</div>
			<br>
		</div>
	</div>
</body>
</html>